<div style="background-color: #222222; padding-top: 70px; width: 100%; position: absolute; height: 100%">
  <div class="category-container" align="center">
    <h1 class="category-h">Update Equipment</h1>
  </div>
  <div class="form-position">
    <div class="container-color">
      <form [formGroup]="productForm" (ngSubmit)="save()">
        <mat-form-field class="list-item-text">
          <input type="text" formControlName="name" matInput placeholder="Product Name">
        </mat-form-field>
        <br>
        <mat-form-field class="list-item-text">
          <textarea rows="24" type="text" formControlName="description" matInput
                    placeholder="Product Description"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field class="list-item-text">
          <mat-select type="number" formControlName="categoryId" placeholder="Category">
            <mat-option *ngFor="let category of categories" class="list-item-text"
                        value="{{category.id}}">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button mat-raised-button class="button-position" type="submit" (click)="save()">Submit</button>
    </div>
  </div>
</div>
