<div style="display: flex; flex-direction: column; justify-content: center">
  <h2 style="color: #fabb2c; padding-left: 1.1rem;" mat-dialog-title>Want to Book?</h2>
  <mat-dialog-content style="color: #fabb2c; padding-left: 2.65rem;">Chose the renting period for 'Data'. </mat-dialog-content>
  <div style="margin-top: 1.5em; display: flex; flex-direction: row;" >
    <mat-icon color="primary" class="time-dialog-icons" aria-hidden="false">access_time</mat-icon>
    <mat-form-field class="form">
      <mat-label>Start</mat-label>
      <mat-select [(value)]="start" [formControl]="startTimeOfBooking" required (valueChange)="onValueChange()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}:00</mat-option>
      </mat-select>
      <mat-error *ngIf="startErrorObv">
        a Session Can not start before it has end
      </mat-error>
    </mat-form-field>
    <p style="color: #fabb2c; margin: auto 0.5em auto 0.5em">to</p>
    <mat-form-field class="form">
      <mat-label>End</mat-label>
      <mat-select [(value)]="end" [formControl]="endTimeOfBooking" required (valueChange)="onValueChange()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}:00</mat-option>
      </mat-select>
      <mat-error *ngIf="endErrorObv">
        a Session Can not end before it has starts
      </mat-error>
    </mat-form-field>
  </div>
</div>
<mat-dialog-actions style="float: right">
  <button mat-button color="primary" mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="onBookClick()" >Book</button>
</mat-dialog-actions>
