<div style="background-color: #222222; width: 100%; display: block">
  <!--<img class="index-img" src="assets/img/index-background-placeholder.png">-->
  <section class="background-test"></section>
  <div align="center" class="index-about-container">
    <h1 class="index-about-h">VR Room & Equipment Booking</h1>
    <p class="index-about-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur.</p>
  </div>
  <div align="center" class="category-preview">
    <div align="left" class="card-container">
      <div style="padding: 25px">
        <a routerLink="/equipment" >
          <div class="card grow-card">
            <img src="assets/img/category-placeholder1.png">
            <div class="card-text-container">
              <label class="card-label">VR Room</label>
              <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt
                ut
                labore et dolore
                magna aliqua.</p>
              <p class="card-book">Book Now ></p>
            </div>
          </div>
        </a>
      </div>
      <div style="padding: 25px">
        <a routerLink="/equipment" >
          <div class="card grow-card">
            <img src="assets/img/category-placeholder1.png">
            <div class="card-text-container">
              <label class="card-label">VR & AR Equipment</label>
              <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt
                ut
                labore et dolore
                magna aliqua.</p>
              <p class="card-book">Book Now ></p>
            </div>
          </div>
        </a>
      </div>
      <div style="padding: 25px">
        <a routerLink="/equipment" >
          <div class="card grow-card">
            <img src="assets/img/category-placeholder1.png">
            <div class="card-text-container">
              <label class="card-label">Other Equipment</label>
              <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt
                ut
                labore et dolore
                magna aliqua.</p>
              <p class="card-book">Book Now ></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
