<div class="header-bar">
  <a (click)="goToHome()" routerLink="">
    <img class="header-logo logo-grow" src="assets/img/easv-vr-logo.png">
  </a>
  <a (click)="openLoginWindow($event)" *ngIf="!isLoggedIn" class="header-cell">
    <label class="cell-text no-select">Sign In</label>
  </a>
  <a (click)="toggleUsercard()" *ngIf="isLoggedIn" class="header-cell">
    <label class="cell-text no-select">{{currentUser.email.split('@')[0]}}</label>
  </a>
  <a (click)="select($event)" class="header-cell" routerLink="equipment">
    <label class="cell-text no-select">Equipment</label>
  </a>
  <a (click)="select($event)" class="header-cell selected" id="home" routerLink="index">
    <label class="cell-text no-select">Home</label>
  </a>
  <a (click)="select($event)" class="header-cell" routerLink="/admin">
    <label class="cell-text no-select">Admin Operations</label>
  </a>
  <app-user-card [user]="currentUser" (logoutButtonEvent)="logout()" *ngIf="toggleUserCard" (toggleEvent)="toggleUsercard()"></app-user-card>
</div>
