<div class="header-bar">
  <a routerLink="" (click) ="clearSelection($event)">
    <img class="header-logo" src="assets/img/easv-vr-logo.png">
  </a>
  <a class="header-cell" routerLink="/equipment" (click)="select($event)">
    <label class="cell-text">Login</label>
  </a>
  <a class="header-cell" routerLink="/equipment" (click)="select($event)">
    <label class="cell-text">Equipment</label>
  </a>
  <a class="header-cell selected" routerLink="index" (click)="select($event)">
    <label class="cell-text">Home</label>
  </a>
  <a class="header-cell" routerLink="admin-equipment" (click)="select($event)">
    <label class="cell-text">Admin Operations</label>
  </a>
</div>
