<div class="background">
  <div align="center" class="category-container">
    <h1 class="category-h">Equipments</h1>
  </div>
  <div class="list-container">
    <mat-nav-list *ngIf="products">
      <mat-list-item *ngFor="let product of products">
        <a class="list-item-text" href="/equipment/{{product.id}}" matLine>{{ product.name }}</a>
        <button mat-icon-button>
          <mat-icon (click)="delete(product.id)" class="list-item-text">delete</mat-icon>
        </button>
        <button mat-icon-button routerLink="/admin/equipment/update/{{product.id}}">
          <mat-icon class="list-item-text">edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="create-button-position">
    <button color="primary" mat-fab routerLink="/admin/equipment/create">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="!products" align="center" class="spinner-position">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
