<div class="background">
  <div class="layout-grid">
    <div class="header-container">
      <app-back-button class="back-button"></app-back-button>
      <h1 class="category-h">Equipments</h1>
    </div>
    <div align="center" class="toolbar">
      <button class="tool-button" color="primary" mat-stroked-button routerLink="/admin/equipment/create">
        <mat-icon class="icon">add</mat-icon>
      </button>
    </div>
    <div class="list-container">
      <mat-nav-list *ngIf="currentPage">
        <mat-list-item *ngFor="let product of currentPage.products" class="list-item" (click)="onNavigate(product.id)">
         <label class="list-item-text">{{ product.name }} {{product.id}}</label>
            <button mat-icon-button>
              <mat-icon (click)="delete(product.id)" class="list-item-icon">delete</mat-icon>
            </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div *ngIf="!currentPage" align="center" class="spinner-position">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <mat-paginator (page)="onPageDataChange($event)" [length]="length"
                   [pageIndex]="pageIndex" [pageSizeOptions]="pageSizes"
                   [pageSize]="pageSize" class="paginator" color="primary">
    </mat-paginator>
  </div>
</div>
