.layout-grid {
  padding-top: 4.5em;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-auto-rows: fit-content(100%);
  width: 100%;
  height: fit-content;
  min-height: 1000px;
  background-color: #333333;
}

.middle-column {
  grid-column: 2;
}

.booking-calendar-container {
  background-color: #111111;
  height: fit-content;
  padding: 20px;
}

.product-info-container {
  padding: 50px;
  background-color: $theme-color2;
  margin-bottom: 100px;
  border-bottom: solid 2px $theme-color-text3;
  min-height: 400px;
}

.background {
  height: fit-content;
  width: 100%;
  background-color: $theme-color3;
  /*background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;*/
}


.mat-tab-label:before {
  color: red !important;
}
