<div class="background">
  <div class="layout-grid">
    <div class="header-container">
      <app-back-button class="back-button"></app-back-button>
      <h1 class="category-h">Bookings</h1>
    </div>
    <div align="center" class="toolbar">
      <button class="tool-button" color="primary" mat-stroked-button routerLink="/admin/bookings/create">
        <mat-icon class="icon">add</mat-icon>
      </button>
    </div>
    <div class="list-container">
      <mat-nav-list *ngIf="bookings">
        <mat-list-item style="height: fit-content; padding: 10px" *ngFor="let booking of bookings">
          <a class="list-item-text" routerLink="/admin/bookings/{{booking.id}}"
             matLine>
            <div class="booking-item">
              <label class="label-text">Date: </label>
              <label class="label-data">{{booking.startTimeOfBooking.getDate()}}/{{booking.startTimeOfBooking.getMonth()}}/{{booking.startTimeOfBooking.getFullYear()}}
              </label>
              <label class="label-text">Time: </label>
              <label class="label-data">{{booking.startTimeOfBooking.getHours()}}
              - {{booking.endTimeOfBooking.getHours()}}</label>
              <label class="label-text">Product Name: </label>
              <label class="label-data">{{booking.product.name}}</label>
              <label class="label-text">User email</label>
              <label class="label-data">{{booking.user.email}}</label>
            </div>
          </a>
          <button mat-icon-button>
            <mat-icon (click)="delete(booking.id)" class="list-item-text">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div *ngIf="!bookings" align="center" class="spinner-position">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <mat-paginator [length]="100"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageSize]="10" class="paginator">
    </mat-paginator>
  </div>
</div>
