@import "src/app/component/admin/equipment/equipment.component";
@import "../../equipment/equipment-add/equipment-add.component";

.list-item-text {
  width: 100%;
  color: #888888;
}

.booking-item {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%);
  grid-template-rows: repeat(4,25px);
}

.label-text,.label-data {
  margin-right: 20px;
}


