<div class="layout-grid">
  <router-outlet class="outlet column1"></router-outlet>
    <div class="option-grid column1">

      <app-option-card [relativNavPath]="'equipment'" [title]="'Equipment'" class="column1"></app-option-card>
      <app-option-card [relativNavPath]="'/John'" [title]="'Category'" class="column2"></app-option-card>
      <app-option-card [relativNavPath]="''" [title]="'Users'" class="column1"></app-option-card>
      <app-option-card [relativNavPath]="" [title]="'Bookings'"></app-option-card>
    </div>

  <div class="new-message-container column2">2

  </div>

</div>
