<div class="layout-grid">
  <router-outlet  class="outlet column1"></router-outlet>
  <div class="new-message-container column2">
    <label class="log-head">Log:</label>
    <div class="log-container">
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Deleted</label>
        <label>Time Stamp: 09/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>
      <div class="log-message">
        <label>Type: Operation</label>
        <label>Message: VR Headset 8 was Added</label>
        <label>Time Stamp: 08/12/2019 10:50:20</label>
      </div>

    </div>
  </div>
</div>
