$border-color: #777777;
.weekday-column {
  display: grid;
  grid-template-rows: fit-content(100%) 10px repeat(8, 60px);
}

.weekday-column-header-wrapper {
  display: flex;
  flex-direction: column;
  height: 35px;
  justify-content: center;
  text-align: center;
  width: 4.5em;
  height: 4.5em;
  background-color: #fabb2c;
  border-radius: 50%;
}

.same-column {
  grid-column: 1;
}

.weekday-column-header-date {
  margin: 0;
  font-weight: lighter;
  color: #111111;
  cursor: default;
}

.weekday-column-header-dayOfWeek {
  margin: 0;
  font-size: 12px;
  color: #111111;
  cursor: default;
}

.weekday-column-cell {
  border-right: 1px solid $border-color;
  border-bottom: 1px solid #77777710;
  cursor: pointer;
}

.weekday-column-cell:nth-child(10) {
  border-bottom: 1px solid $border-color;
}

.weekday-column-header-space {
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  grid-row: 2;
}

.weekday-column-header-container {
  height: 6em;
}

