$border-color: #777777;
@import "src/styles.scss";
.week-grid {
  display: grid;
  grid-template-columns:repeat(6, 200px) 200px;
}
.week-grid-side {
  display: grid;
  height: fit-content;
  padding-top: 6em;
  //grid-template-rows: 10px repeat(8, 60px) 60px;
}
.week-grid-main {
  grid-column: 3;
}
.week-grid-side-wrapper {
  display: flex;
  flex-direction: row;
  border-top: 1px solid $border-color;

}
.week-grid-side-hour {
  width: 50px;
  margin-right: 0;
  grid-column: 1;
}
.week-grid-side-hour-text {
  margin-top: -0.65em;
  font-weight: lighter;
  font-size: 0.8rem;
  margin-left: 1.15em;
  color: #e3dac9;
  cursor: default;
}

.week-grid-side-space {
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  width: 10px;
  grid-column: 2;
}
.week-grid-side-space:last-child{
  border-bottom:none
}

.space-column {
  border-bottom: 1px solid $border-color;
}
