<div class="option-grid column1">
  <div class="header-container"><h1 class="category-h">Admin Operations</h1></div>
  <app-option-card [relativNavPath]="'equipment'" [title]="'Equipment'" class="column1"></app-option-card>
  <app-option-card [relativNavPath]="'/John'" [title]="'Category'" class="column2"></app-option-card>
  <app-option-card [relativNavPath]="''" [title]="'Users'" class="column1"></app-option-card>
  <app-option-card [relativNavPath]="" [title]="'Bookings'"></app-option-card>
</div>
