$card-container-m: 1320px;
$card-container-s: 880px;
@import "src/styles.scss";
.category-container {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: fit-content;
  background-color: $theme-color1;
  z-index: 4;
  position: relative;
}

.category-h {
  margin: 10px;
  color: $theme-color-text3;
  font-weight: normal;
}

@media screen and (max-width: 1840px) {
  .card-container {
    width: $card-container-s !important;
  }
  .pageinator {
    width: $card-container-s !important;
  }
}

.card-container {
  width: $card-container-m;
  margin: auto;
  display: flex;
  padding-bottom: 40px;
  flex-direction: row;
  flex-wrap: wrap;
}

.toolbar {
  padding: 10px 100px 10px 10px;
  background-color: $theme-color2;
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  position: sticky;
  margin-top: 1.49em;
  margin-left: -6em;
  top: 9.1em;
  max-width: 150px;
}

.pageinator {
  width: $card-container-m;
  margin: auto
}

.category-label {
  color: $theme-color-text2;
  font-size: 1.1rem;
}

.category-picker {
  margin-top: 4px;
  color: $theme-color-text2;
}

.category-picker-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.layout-grid {
  padding-top: 4.5em;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  width: 100%;
  height: fit-content;
  min-height: 1000px;
  background-color: $theme-color3;
}

.right-column {
  grid-column: 3;
}

.left-column {
  grid-column: 1;
}

.middle-column {
  grid-column: 2;
}

.background {
  background-color: $theme-color3;
  padding-top: 70px;
  width: 100%;
  height: fit-content;
  position: absolute
}
