.category-h {
  margin: 10px;
  color: #fabb2c;
  font-weight: normal;
}

.category-container{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: fit-content;
  background-color: #111111;
  z-index: 4;
  position: relative;
}
