@import "src/styles.scss";
.input-container {
  display: flex;
  flex-direction: column;
  width: 15em;
  margin: auto;
}
.icon {
  font-size: 6rem;
  margin: 0.19em auto 0.19em auto;
  display: block;
  height: auto;
  width: auto;

}
input-txt {
  color: $theme-color-text2
}
