<div align="center" Class="input-container">
  <div style="height: fit-content; width: fit-content; margin: auto;">
    <mat-icon class="icon" color="primary">account_circle</mat-icon>
  </div>
  <mat-form-field>
    <input matInput [(ngModel)]="username" class="input-txt" placeholder="Username"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="password" class="input-txt" placeholder="Password" type="password"/>
  </mat-form-field>
  <mat-spinner *ngIf="(loadingObv | async) else false" [diameter]="50"></mat-spinner>
  <br>
  <label style="color: red" *ngIf="(loginUnsuccObs | async) else false">*Username or Password is wrong</label>
</div>
<div align="center" mat-dialog-actions>

  <button (click)="Cancel()" mat-button color="primary">Close</button>
  <button (click)="login()" mat-button color="primary">Sign in</button>
</div>

