<h2 align="center" style="color:whitesmoke">Login</h2>
<div align="center" Class="input-container">
  <mat-form-field>
    <input matInput [(ngModel)]="username" class="input-txt" placeholder="Username"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="password" class="input-txt" placeholder="Password" type="password"/>
  </mat-form-field>
  <mat-spinner *ngIf="(loadingObv | async) else false" [diameter]="50"></mat-spinner>
  <br>
  <label style="color: red" *ngIf="(loginUnsuccObs | async) else false">*Username or Password is wrong</label>
</div>
<div align="center" mat-dialog-actions>

  <button (click)="Cancel()" mat-button>Cancel</button>
  <button (click)="login()" mat-button>Login</button>
</div>

