@import "src/app/component/admin/equipment/equipment-details/equipment-details.component.scss";

.detail-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: fit-content(100%);
}
