<div style="background-color: #222222; padding-top: 70px; width: 100%; position: absolute; height: 100%">
  <div class="category-container" align="center">
    <h1 class="category-h">Equipments</h1>
  </div>
  <div *ngIf="products" class="container-color">
    <div class="list-container">
      <mat-nav-list>
        <mat-list-item *ngFor="let product of products">
          <a class="list-item-text" matLine href="/equipment/{{product.id}}">{{ product.name }}</a>
          <button mat-icon-button>
            <mat-icon class="list-item-text" (click)="delete(product.id)">delete</mat-icon>
          </button>
          <button mat-icon-button routerLink="/admin-equipment-update/{{product.id}}">
            <mat-icon class="list-item-text">edit</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <div class="create-button-position">
    <button mat-fab color="primary" routerLink="/admin-equipment-add">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="spinner-position" *ngIf="!products" align="center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>

