@import "src/styles.scss";

.booking-calendar-Main {
  height: fit-content;
}

.week-text {
  color: $theme-color-text3;
  font-size: 1.4rem;
  margin: auto;
  vertical-align: middle;
  cursor: default;
}

.picker-button {
  height: 2.5em;
  min-width: 2em;
  padding: 0;
  width: fit-content;
}
.week-picker {
  margin: 0.7em 1.8em 1em 1em;
  display: inline-flex;
  flex-direction: row;
  background-color: $theme-color2;
  padding-right: 0.4em;
  padding-left: 0.4em;
  border-radius: 1.5em;
}

.current-button {
  margin: 0em 1.3em 0em 0em;
  font-size: 1.3rem;
}
