<div class="booking-calendar-Main">
  <div align="right">
    <div class="week-picker">
      <button (click)="changeWeek(-1)" mat-icon-button>
        <mat-icon class="mat-icon-rtl-mirror" color="primary">keyboard_arrow_left</mat-icon>
      </button>
      <label *ngIf="WeekObv | async; else false" class="week-text">Week {{week.weekNumber}}</label>
      <button (click)="changeWeek(+1)" mat-icon-button>
        <mat-icon class="mat-icon-rtl-mirror" color="primary">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <app-week (pendingBooking)="catchBooking($event)"
            *ngIf="WeekObv | async; else false"
            [product]="product" [user]="currentUser"
            [week]="week"></app-week>
  <div align="right">
    <button (click)="toCurrent()" class="current-button" color="primary" mat-stroked-button>Current Week</button>
  </div>
</div>

