<div class="booking-calendar-Main">
  <div align="right">
    <div class="week-picker">
      <button mat-icon-button (click)="changeWeek(-1)">
        <mat-icon class="mat-icon-rtl-mirror" color="primary">keyboard_arrow_left</mat-icon>
      </button>
      <label class="week-text" *ngIf="WeekObv | async; else false">Week {{w.weekNumber}}</label>
      <button mat-icon-button (click)="changeWeek(+1)">
        <mat-icon class="mat-icon-rtl-mirror" color="primary">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <app-week *ngIf="WeekObv | async; else false" [w]="w" [user]="currentUser" [product]="product" (pendingBooking)="catchBooking($event)"></app-week>
  <div align="right">
    <button mat-stroked-button class="current-button" color="primary" (click)="toCurrent()">Current Week</button>
  </div>
</div>

