<div class="background">
  <section>
    <div class="header-container">
      <app-back-button class="back-button"></app-back-button>
      <h1 class="category-h">Add new booking</h1>
    </div>
  </section>
  <section *ngIf="bookingForm">
    <div class="detail-grid">
      <div class="grid-cell-s">
        <label class="info-head">User:</label>
        <mat-form-field class="anti-mat-input text">
          <input [formControl]="formUser" matInput required>
        </mat-form-field>
      </div>
      <div class="grid-cell-m">
        <label class="info-head">Product:</label>
        <mat-form-field class="anti-mat-input text">
          <input [formControl]="formProduct" matInput>
        </mat-form-field>
      </div>
      <div class="grid-cell-m">
        <label class="info-head">Booking Start Time:</label>
        <mat-form-field class="anti-mat-input text">
          <mat-select>
            <mat-option *ngFor="let hour of openingHours" [value]="hour">{{hour}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="grid-cell-m">
        <label class="info-head">Booking End Time:</label>
        <mat-form-field class="anti-mat-input text">
          <mat-select [formControl]="formBookingEndTime" (valueChange)="formBookingStartTime.setValue(onValueChange($event))">
            <mat-option *ngFor="let hour of openingHours" [value]="hour">{{hour}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <section *ngIf="bookingForm">
    <div class="button-container-detail">
      <button (click)="onCancel()" mat-raised-button style="margin-right: 15px">Cancel</button>
      <button (click)="onAdd()" mat-raised-button>Add</button>
    </div>
  </section>
</div>


