.option-text-container {
  margin: auto;
  width: fit-content;
  cursor: inherit;
}

.option-text{
  color: #fabb2c;
  cursor: inherit;
}

.option {
  margin:  20px 30px 20px 30px;;
  padding: 30px 45px 30px 45px;
  background-color: #222222;
  cursor: inherit;
}
