/* You can add global styles to this file, and also import other style files */

$theme-color1: #111111;
$theme-color2: #222222;
$theme-color3: #333333;
$theme-color-text1: #777777;
$theme-color-text2: #e3dac9;
$theme-color-text3: #fabb2c;


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $theme-color-text1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:link {
  text-decoration: none;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.grow-card {
  transition: all .1s ease-in-out;
}

.grow-card:hover {
  transform: scale(1.025);
}

.pointer {
  cursor: pointer;
}
