<div style="background-color: #222222; padding-top: 70px; width: 100%; position: absolute">
  <div class="category-container" align="center">
    <h1 class="category-h">Add Equipment</h1>
  </div>
  <div class="form-position">
    <mat-form-field class="list-item-text">
      <input matInput placeholder="Product Name">
    </mat-form-field>
    <br>
    <mat-form-field class="list-item-text">
      <textarea matInput placeholder="Product Description"></textarea>
    </mat-form-field>
    <br>
      <mat-form-field>
        <mat-select placeholder="Category">
          <div *ngFor="let category of Categories" class="list-item-text">
            <mat-option class="list-item-text" value="{{category.name}}">{{category.name}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

<!--TODO
lav create siden færdig d. 5/12 godt og realistisk mål, mangler css, og lidt typescript fra henrik,
hvis han ikke kommer så skriv til ham om det er gjort, så kan create siden blive færdig.

hvis du har tid må du gerne kigge på en generic form for list component, kunne være fedt kun at bruge det :)
Du kan godt :D 
-->
